<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="Main.ConnectionString" value="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True;"/>
		<add key="Authorization.ConnectionStringName" value="Main.ConnectionString" />
		<!--<add key="Authorization.ConnectionString" value="data source=Serdb\SQL2005;initial catalog=Biddoor;persist security info=true;User ID=biddoor;Password=biddoor2007;packet size=4096" />-->
	</appSettings>

	<connectionStrings>
		<add name="Main.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<authorization>
			<allow roles="Administrator"/>
			<allow roles="Anonymous"/>
			<deny users="*" />
		</authorization>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" name="LoginForm"></forms>
		</authentication>
		<membership defaultProvider="SqlProvider">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" 
					connectionStringName="Main.ConnectionString" 
					enablePasswordRetrieval="true" enablePasswordReset="false" 
					requiresQuestionAndAnswer="false" passwordFormat="Clear" 
					applicationName="Netology.NJoy.Security.Authorization"/>
			</providers>
		</membership>
		<roleManager enabled="true" />
		<compilation debug="true"/>
	</system.web>

	<location path="admin">
		<system.web>
			<authorization>
				<allow roles="Administrator"/>
				<deny roles="Anonymous"/>
			</authorization>
		</system.web>
	</location>
</configuration>
